In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'Name' : pd.Series(['Alice', 'Bob', 'Chris']), 'Age': pd.Series([21,25,23])})

In [3]:
df

    Name  Age
0  Alice   21
1    Bob   25
2  Chris   23

In [4]:
df['height'] = pd.Series([5.2,6.0,5.6])

In [5]:
df

    Name  Age  height
0  Alice   21     5.2
1    Bob   25     6.0
2  Chris   23     5.6

In [6]:
df = pd.read_csv("Salaries.csv")
#df = pd.read_csv("/content/Salaries.csv")

In [7]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [8]:
df.head(2)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000

In [9]:
df.tail(2)

    rank discipline  phd  service     sex  salary
76  Prof          A   28       14  Female  109954
77  Prof          A   23       15  Female  109646

In [10]:
df.shape

(78, 6)

In [11]:
df.size

468

In [12]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [13]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [14]:
#df. are the attributes or properties of data frame

In [15]:
df.ndim

2

In [16]:
df.axes

[RangeIndex(start=0, stop=78, step=1),
 Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df1 = df.values

In [19]:
type(df1)

numpy.ndarray

In [20]:
#converting a dataframe to numpy array

# Statistics

In [21]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [22]:
df['phd']

0     56
1     12
2     23
3     40
4     20
      ..
73    18
74    19
75    17
76    28
77    23
Name: phd, Length: 78, dtype: int64

In [23]:
df['service'].describe()

count    78.000000
mean     15.051282
std      12.139768
min       0.000000
25%       5.250000
50%      14.500000
75%      20.750000
max      51.000000
Name: service, dtype: float64

# Data Slicing and grouping

In [24]:
g1 = df.groupby('rank')
g1.mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [25]:
df.groupby('sex').mean()

              phd    service         salary
sex
Female  16.512821  11.564103  101002.410256
Male    22.897436  18.538462  115045.153846

In [26]:
g = df.groupby('sex')
g[['salary']].mean()

               salary
sex
Female  101002.410256
Male    115045.153846

In [27]:
df.groupby('rank',sort = False)[['salary']].mean()

                  salary
rank
Prof       123624.804348
AssocProf   91786.230769
AsstProf    81362.789474

# Filtering

In [28]:
df['salary']>160000 # condition
sub = df[df['salary']>160000]
sub

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
13  Prof          B   35       33    Male  162200
72  Prof          B   24       15  Female  161101

In [29]:
# find the mean value of the salary for discipline A

In [30]:
df[df['discipline'] == "A"]['salary'].mean()

98331.11111111111

In [31]:
df[df['salary']>100000].groupby('sex')[['salary']].count()

        salary
sex
Female      21
Male        25

In [32]:
# [ ] will give series
# [[ ]] will give dataframe

# Slicing

In [33]:
df[['rank','salary']]

         rank  salary
0        Prof  186960
1        Prof   93000
2        Prof  110515
3        Prof  131205
4        Prof  104800
..        ...     ...
73       Prof  105450
74  AssocProf  104542
75       Prof  124312
76       Prof  109954
77       Prof  109646

[78 rows x 2 columns]

In [34]:
df[10:20]

        rank discipline  phd  service   sex  salary
10      Prof          B   39       33  Male  128250
11      Prof          B   23       23  Male  134778
12  AsstProf          B    1        0  Male   88000
13      Prof          B   35       33  Male  162200
14      Prof          B   25       19  Male  153750
15      Prof          B   17        3  Male  150480
16  AsstProf          B    8        3  Male   75044
17  AsstProf          B    4        0  Male   92000
18      Prof          A   19        7  Male  107300
19      Prof          A   29       27  Male  150500

In [35]:
df.iloc[10:20,[0,3,4,5]]
# rows, columns
# iloc - index location

        rank  service   sex  salary
10      Prof       33  Male  128250
11      Prof       23  Male  134778
12  AsstProf        0  Male   88000
13      Prof       33  Male  162200
14      Prof       19  Male  153750
15      Prof        3  Male  150480
16  AsstProf        3  Male   75044
17  AsstProf        0  Male   92000
18      Prof        7  Male  107300
19      Prof       27  Male  150500

In [36]:
df.iloc[:,1:3]

   discipline  phd
0           B   56
1           A   12
2           A   23
3           A   40
4           B   20
..        ...  ...
73          B   18
74          B   19
75          B   17
76          A   28
77          A   23

[78 rows x 2 columns]

In [37]:
df.iloc[1:3,0:2]

   rank discipline
1  Prof          A
2  Prof          A

In [38]:
df.loc[10:20,['rank','salary']]
# when you know names of columns use loc
# when you want using index use iloc

        rank  salary
10      Prof  128250
11      Prof  134778
12  AsstProf   88000
13      Prof  162200
14      Prof  153750
15      Prof  150480
16  AsstProf   75044
17  AsstProf   92000
18      Prof  107300
19      Prof  150500
20  AsstProf   92000

# Sorting

In [39]:
sorted_data = df.sort_values(by = 'service')

In [40]:
sorted_data.head()

        rank discipline  phd  service     sex  salary
55  AsstProf          A    2        0  Female   72500
23  AsstProf          A    2        0    Male   85000
43  AsstProf          B    5        0  Female   77000
17  AsstProf          B    4        0    Male   92000
12  AsstProf          B    1        0    Male   88000

In [41]:
df.sort_index(ascending = True)

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [42]:
df.sort_index(ascending = False)

         rank discipline  phd  service     sex  salary
77       Prof          A   23       15  Female  109646
76       Prof          A   28       14  Female  109954
75       Prof          B   17       17  Female  124312
74  AssocProf          B   19        6  Female  104542
73       Prof          B   18       10  Female  105450
..        ...        ...  ...      ...     ...     ...
4        Prof          B   20       18    Male  104800
3        Prof          A   40       31    Male  131205
2        Prof          A   23       20    Male  110515
1        Prof          A   12        6    Male   93000
0        Prof          B   56       49    Male  186960

[78 rows x 6 columns]

In [43]:
df.sort_values(by = ['service', 'salary'], ascending = [True, False])

        rank discipline  phd  service     sex  salary
52      Prof          A   12        0  Female  105000
17  AsstProf          B    4        0    Male   92000
12  AsstProf          B    1        0    Male   88000
23  AsstProf          A    2        0    Male   85000
43  AsstProf          B    5        0  Female   77000
..       ...        ...  ...      ...     ...     ...
40      Prof          A   39       36  Female  137000
27      Prof          A   45       43    Male  155865
36      Prof          B   45       45    Male  146856
0       Prof          B   56       49    Male  186960
9       Prof          A   51       51    Male   57800

[78 rows x 6 columns]

# Aggregation functions

In [44]:
#agg()
df.max()
df.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            57800
dtype: object

In [45]:
df[['service', 'salary']].agg(['min', 'mean', 'max'])

        service         salary
min    0.000000   57800.000000
mean  15.051282  108023.782051
max   51.000000  186960.000000

In [46]:
df.agg({'salary': ['min', 'max', 'mean'], 'service': ['nunique']})

                salary  service
max      186960.000000      NaN
mean     108023.782051      NaN
min       57800.000000      NaN
nunique            NaN     33.0